
<div class="row">
    <div class="col-md-12">
            <div class="page-header">
                <h2>Listing Categories <small>Total : <%= Category.count %> </small></h2>
            </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>SL NO</th>
                    <th>Name</th>
                </tr>
            </thead>

            <tbody>
                <% count = 1 %>
                <% @categories.each do |category| %>    
                    <tr>
                        <td><%= count %></td>
                        <td><%= category.name %></td>
                    </tr>
                <% count += 1 %>
                <% end %>
            </tbody>    
        </table>
    </div>

    <div class="col-md-4">

    </div>

</div>


<% if user_signed_in? && current_user.is_admin %>
    <%= link_to "New Category", "/categories/new", class:"btn btn-primary" %>
<% end %>


<h2>Listing Categories </h2>
<p> total categories :<%= Category.count %></p>
<ul>
<p><% @categories.each do |category| %></p>
    <li><%= link_to category.name, category %></li>
   <% end %>
</ul> 
<% if  user_signed_in? && current_user.is_admin %>   
<%= link_to "New Category", "/categories/new" %>
<% end %>